body
	min-width: 320px
	font-family: $roboto 
	+f(16px, 400, 1.43)
	+font-smoothing
	background-color: $white
	+sm
		font-size: 14px

.title-lg
	font-family: $roboto
	+f(50px, 700, 1.16)
	letter-spacing: -0.004em
	+sm
		font-size: 24px 

.title-md
	font-family: $roboto
	+f(30px, 700, 1.16)
	letter-spacing: 0

.block-img
	background-size: cover
	background-position: 50% 50%
	background-repeat: no-repeat
	padding: 55px 0
	text-align: center  
	margin-bottom: 50px
	position: relative
	&:after
		content: ''
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		z-index: 5
		background-color: rgba(0, 0, 0, 0.6)
		
	&__logo
		position: relative
		z-index: 10

.hero-logo
	font-size: 0
	width: 80px
	display: block
	margin: 0 auto 
	img
		display: block
		max-width: 100%

.row
	display: flex
	flex-wrap: wrap
	margin: 0 -20px
	+clr
	+md
		margin: 0 -10px 
	&_mar
		margin: 0
		+sm
			margin: 0 -10px 

.col
	float: left
	padding: 0 20px
	+md
		padding: 0 10px 
	&_pad
		padding: 0 
		+md
			padding: 0 10px
	&-100
		width: 100%
	&-50
		width: 50%
	&-33
		width: 33.3%
	&-25
		width: 25%
	&-lg-25
		+lg
			width: 25%
	&-md-33
		+md
			width: 33%
	&-md-50
		+md
			width: 50%
	&-sm-33
		+sm
			width: 33.3%
	&-sm-50
		+sm
			width: 50%
	&-sm-100
		+sm
			width: 100%

.input
	width: 100%
	padding-bottom: 16px
	border-bottom: solid 2px #f2f2f2
	+placeholder
		color: $lightBlue
		font-weight: 600
		font-size: 16px

.textarea
	width: 100%
	padding: 21px 
	display: block
	background-color: #f8f8f8
	border-radius: 10px
	border-width: 0

.label
	font-weight: 700
	color: $lightBlue
	margin-bottom: 16px
	display: block