<!-- begin about-us -->
<div class="about-us">
	<div class="about-us__block-img block-img" style="background-image: url(http://via.placeholder.com/1140x210);">
		<div class="block-img__logo">
			<!-- begin logo -->
			<a href="#" class="hero-logo">
				<img src="./img/hero-logo-x2.png" alt="img">
			</a>
			<!-- end logo -->
		</div>
	</div>
	<div class="about-us__block">
		<div class="about-us__inner inner">
			<h2 class="about-us__title title-md">О нас</h2>
			<div class="about-us__text">
				<p>
					The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain biking, & plenty of more. The Rockies are home to several campgrounds, ghost towns, gold prospecting sites, & national parks. a quantity of the biggest tourist attractions in the Rockies are Pike’s Peak & Royal Gorge. There are several world famous national parks in the Rockies, including Yellowstone, Rocky Mountain, Grand Teton, & Glacier.
				</p>
				<p>
					The legendary Rocky Mountains stretch from old Mexico up through the United States & into Canada. The Rocky Mountains are over 3000 miles long, spanning parts of california, Colorado, Idaho, Montana, & Wyoming before continuing into Canada. Stories of early adventurers like Lewis & Clark exploring the Rocky Mountains are legendary.  about everyone will find something to enjoy on a Rocky Mountain holiday. Aside from all of the great outdoor activities, the Rockies have a quantity of other attractions as well. The Telluride Film Festival is a prestigious yearly event that attracts a quantity of the biggest stars in Hollywood to a small Colorado town. plenty of Smoky Mountain resorts offer spa treatments & other
				</p>
			</div>	
		</div>
	</div>
	<div class="about-us__services services">
		<div class="about-us__inner inner">
			<h2 class="services__title title-md">Услуги</h2>
			<div class="services__block row row_mar">
				<div class="col col_pad col-25 col-md-50 col-sm-100">
					<div class="services__item">
						<div class="services__subtitle">Лицензирование</div>
						<div class="services__description">
							<p>
								The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain biking, & plenty of more. The
							</p>
						</div>
					</div>
				</div>
				<div class="col col_pad col-25 col-md-50 col-sm-100">
					<div class="services__item">
						<div class="services__subtitle">Лицензирование</div>
						<div class="services__description">
							<p>
								The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain biking, & plenty of more. The
							</p>
						</div>
					</div>
				</div>
				<div class="col col_pad col-25 col-md-50 col-sm-100">
					<div class="services__item">
						<div class="services__subtitle">Лицензирование</div>
						<div class="services__description">
							<p>
								The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain biking, & plenty of more. The
							</p>
						</div>
					</div>
				</div>
				<div class="col col_pad col-25 col-md-50 col-sm-100">
					<div class="services__item">
						<div class="services__subtitle">Лицензирование</div>
						<div class="services__description">
							<p>
								The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain biking, & plenty of more. The
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="about-us__artist artist">
		<div class="about-us__inner inner">
			<h2 class="services__title title-md">Артисты</h2>
			<div class="artist__block row">
				<div class="col col-25 col-md-50 col-sm-50">
					<div class="artist__item">
						<div class="artist__photo">
							<div class="artist__photo-in" style="background-image: url(http://via.placeholder.com/230x230);">
								
							</div>
						</div>
						<div class="artist__name">Ellie Goulding</div>
					</div>
				</div>
				<div class="col col-25 col-md-50 col-sm-50">
					<div class="artist__item">
						<div class="artist__photo">
							<div class="artist__photo-in" style="background-image: url(http://via.placeholder.com/230x230);">
								
							</div>
						</div>
						<div class="artist__name">Pharrell Williams</div>
					</div>
				</div>
				<div class="col col-25 col-md-50 col-sm-50">
					<div class="artist__item">
						<div class="artist__photo">
							<div class="artist__photo-in" style="background-image: url(http://via.placeholder.com/230x230);">
								
							</div>
						</div>
						<div class="artist__name">Carly Rae Jepsen</div>
					</div>
				</div>
				<div class="col col-25 col-md-50 col-sm-50">
					<div class="artist__item">
						<div class="artist__photo">
							<div class="artist__photo-in" style="background-image: url(http://via.placeholder.com/230x230);">
								
							</div>
						</div>
						<div class="artist__name">Ellie Goulding</div>
					</div>
				</div>
				
			</div>
			<div class="artist__btn">
				<a href="#" class="btn btn_blue">Все релизы{{ mixins.icon('arrow-right') }}</a>
			</div>
		</div>
	</div>
</div>
<!-- end about-us -->
<!-- <script src="https://api-maps.yandex.ru/2.0/?load=package.standard,package.geoObjects&lang=ru-RU" type="text/javascript"></script> -->