<div class="contacts">
	<div class="contacts__block-img block-img" style="background-image: url(http://via.placeholder.com/1140x210);">
		<div class="block-img__logo">
			<!-- begin logo -->
			<a href="#" class="hero-logo">
				<img src="./img/hero-logo-x2.png" alt="img">
			</a>
			<!-- end logo -->
		</div>
	</div>
	<div class="contacts__block">
		<div class="contacts__inner inner">
			<div class="contacts__text">
				<p>
					The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain biking, & plenty of more. The Rockies are home to several campgrounds, ghost towns, gold prospecting sites, & national parks. a quantity of the biggest tourist attractions in the Rockies are Pike’s Peak & Royal Gorge. There are several
				</p>
			</div>	
		</div>
	</div>
	<div class="contacts__services services">
		<div class="contacts__inner inner">
			<h2 class="services__title title-md">Контакты</h2>
			<div class="services__block row row_mar">
				<div class="col col_pad col-25 col-md-50 col-sm-100">
					<div class="services__item">
						<div class="services__subtitle">Валера</div>
						<div class="services__description">
							<p>
								The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain biking, & plenty of more. The
							</p>
						</div>
					</div>
				</div>
				<div class="col col_pad col-25 col-md-50 col-sm-100">
					<div class="services__item">
						<div class="services__subtitle">Коля</div>
						<div class="services__description">
							<p>
								The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain biking, & plenty of more. The
							</p>
						</div>
					</div>
				</div>
				<div class="col col_pad col-25 col-md-50 col-sm-100">
					<div class="services__item">
						<div class="services__subtitle">Сеня</div>
						<div class="services__description">
							<p>
								The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain biking, & plenty of more. The
							</p>
						</div>
					</div>
				</div>
				<div class="col col_pad col-25 col-md-50 col-sm-100">
					<div class="services__item">
						<div class="services__subtitle">Валя</div>
						<div class="services__description">
							<p>
								The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain biking, & plenty of more. The
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="contacts__address address">
		<div class="address__inner inner">
			<h2 class="address__title-md title-md">Адресс</h2>
			<div class="address__block">
				<div class="address__map">
					<div id="map" style="width: 100%; height: 100%"></div>
				</div>	
				<div class="address__contact">
					<div class="address__title">Адрес:</div>
					<div class="address__location">2-я Тверская-Ямская ул., 28</div>
					<div class="address__title">Почта:</div>
					<a href='#' class="address__email">info@mtr.ru</a>
					<div class="address__title">Телефон:</div>
					<a href='#' class="address__tel">+7 (495) 000-00-00</a>
				</div>
			</div>
		</div>
	</div>
	<!-- begin contacts__checkout -->
	<div class="contacts__checkout checkout">
		<div class="address__inner inner">
			<h2 class="checkout__title title-md">Демо</h2>
			<p>
				The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain biking, & plenty of more. The Rockies are home to several campgrounds, ghost towns, gold prospecting sites, & national parks. a quantity of the biggest tourist attractions in the Rockies are Pike’s Peak & Royal Gorge. There are several
			</p>
			<div class="checkout__form">
				<div class="checkout__row">
					<div class="checkout__col col-100">
						<div class="checkout__form-group form-group"> 
							<input type="text" class="checkout__input input" placeholder="Имя">
						</div>
					    <div class="checkout__row">
					       <div class="checkout__col col-50 col-sm-100">
					        	<div class="checkout__form-group form-group">
					         		<input type="text" class="checkout__input input" placeholder="Телефон">
					         	</div>
					       </div>
					       <div class="checkout__col col-50 col-sm-100">
					       		<div class="checkout__form-group form-group">
									<input type="text" class="checkout__input input" placeholder="eMail">
								</div>
					       </div>
					    </div>
					    <div class="checkout__form-group form-group"> 
							<input type="text" class="checkout__input input" placeholder="Ссылка на ваше творчество">
						</div>
				    </div>
				</div>
				<div class="checkout__row">
			       <div class="checkout__col col-100 col-sm-100">
			       		<div class="checkout__form-group form-group">
			       			<label for="textarea" class="checkout__label label">Напишите сообщение</label>
							<textarea class="textarea" name="" id="textarea" cols="30" rows="12"></textarea>
						</div>
			       </div>
				</div>
				<div class="form__submit">
					<button class="button-submit">Отправить</button>
				</div>
			</div>
		</div>
		
	</div>
	<!-- end contacts__checkout -->
</div>