<!-- begin event -->
<div class="event">
	<div class="event__bg" style="background-image: url(http://via.placeholder.com/1140x470);">
	</div>
	<div class="event__inner inner">
		<h1 class="event__title-lg title-lg">Watch a hilarious parody of Drake</h1>
		<div class="event__description">
			<p>
				The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain biking, & plenty of more. The Rockies are home to several campgrounds, ghost towns, gold prospecting sites, & national parks. a quantity of the biggest tourist attractions in the Rockies are Pike’s Peak & Royal Gorge. There are several world famous national parks in the Rockies, including Yellowstone, Rocky Mountain, Grand Teton, & Glacier.
			</p>
			<p>
				The legendary Rocky Mountains stretch from old Mexico up through the United States & into Canada. The Rocky Mountains are over 3000 miles long, spanning parts of california, Colorado, Idaho, Montana, & Wyoming before continuing into Canada. Stories of early adventurers like Lewis & Clark exploring the Rocky Mountains are legendary.  about everyone will find something to enjoy on a Rocky Mountain holiday. Aside from all of the great outdoor activities, the Rockies have a quantity of other attractions as well. The Telluride Film Festival is a prestigious yearly event that attracts a quantity of the biggest stars in Hollywood to a small Colorado town. plenty of Smoky Mountain resorts offer spa treatments & other relaxing diversions. The Rockies are a tourist attraction all year round. The summer months are warm, with the average temperature reaching 82
			</p>
		</div>
		<div class="event__row">
			<div class="event__col col-50 col-sm-100">
				<a href="#" class="img-lg" style="background-image: url(http://via.placeholder.com/512x400);"></a>
			</div>
			<div class="event__col col-50 col-sm-100">
				<div class="event__row">
					<div class="event__col col-100 col-sm-100">
						<a href="#" class="img-md" style="background-image: url(http://via.placeholder.com/512x192);">
						</a>
					</div>
				</div>
				<div class="event__row">
					<div class="event__col col-50 col-sm-100">
						<a href="#" class="img-sm" style="background-image: url(http://via.placeholder.com/248x192);">
						</a>
					</div>
					<div class="event__col col-50 col-sm-100">
						<a href="#" class="img-sm" style="background-image: url(http://via.placeholder.com/248x192);">
						</a>
					</div>
				</div>
			</div>	
		</div>
		<div class="event__share"></div>
		<div class="event__video video js-video-parent">
			<video class="js-video" src="video/video.mp4"></video>
			<div class="video__play js-video-play">
				<button class="card__toggle-button js-card-toggle-button"
				>
					{{mixins.icon('play', 'card__toggle-play')}}
					{{mixins.icon('pause', 'card__toggle-pause')}}
				</button>
			</div>
		</div>
	</div>
</div>
<!-- end event -->