<!-- begin events -->
<div class="events">
	<div class="events__top">
		<div class="events__inner inner">
			<div class="events__top-wrap">
				<div class="events__buttons">
					<div class="events__button">
						<a href="#" class="button">Сборники</a>
					</div>
					<div class="events__button">
						<a href="#" class="button is-active">Ellie Goulding</a>
					</div>
					<div class="events__button">
						<a href="#" class="button">Pharrell Williams</a>
					</div>
					<div class="events__button">
						<a href="#" class="button">Carly Rae Jepsen</a>
					</div>
					<div class="events__button">
						<a href="#" class="button">Ed Sheeran</a>
					</div>
				</div>
				<div class="events__link">
					<a href="#" class="link">Все артисты{{ mixins.icon('arrow-right') }}</a>
				</div>
				
			</div>
			
		</div>
		<div class="events__progress-bar progress-bar">
			<div class="progress-bar__inner" style="width: 426px;"></div>	
		</div>	
	</div>
	<div class="events__main">
		<div class="events__inner inner">
			<h2 class="events__title title-md">События</h2>
			<div class="events__gallery">
				<div class="events__row">
					<div class="events__col col-50 col-sm-100">
						<div class="events__item">
							<a href="#" class="events__cover" style="background-image: url(http://via.placeholder.com/500x312);"></a>
							<div class="events__info">
								<h2 class="events__title title-md">Watch a hilarious parody of Drake</h2>
								<div class="events__description">The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain</div>
							</div>
							
						</div>
					</div>
					<div class="events__col col-50 col-sm-100">
						<div class="events__item">
							<a href="#" class="events__cover" style="background-image: url(http://via.placeholder.com/500x312);"></a>
							<div class="events__info">
								<h2 class="events__title title-md">Watch a hilarious parody of Drake</h2>
								<div class="events__description">The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain</div>
							</div>
						</div>
					</div>
					<div class="events__col col-50 col-sm-100">
						<div class="events__item">
							<a href="#" class="events__cover" style="background-image: url(http://via.placeholder.com/500x312);"></a>
							<div class="events__info">
								<h2 class="events__title title-md">Watch a hilarious parody of Drake</h2>
								<div class="events__description">The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain</div>
							</div>
							
						</div>
					</div>
					<div class="events__col col-50 col-sm-100">
						<div class="events__item">
							<a href="#" class="events__cover" style="background-image: url(http://via.placeholder.com/500x312);"></a>
							<div class="events__info">
								<h2 class="events__title title-md">Watch a hilarious parody of Drake</h2>
								<div class="events__description">The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain</div>
							</div>
						</div>
					</div>
					<div class="events__col col-50 col-sm-100">
						<div class="events__item">
							<a href="#" class="events__cover" style="background-image: url(http://via.placeholder.com/500x312);"></a>
							<div class="events__info">
								<h2 class="events__title title-md">Watch a hilarious parody of Drake</h2>
								<div class="events__description">The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain</div>
							</div>
							
						</div>
					</div>
					<div class="events__col col-50 col-sm-100">
						<div class="events__item">
							<a href="#" class="events__cover" style="background-image: url(http://via.placeholder.com/500x312);"></a>
							<div class="events__info">
								<h2 class="events__title title-md">Watch a hilarious parody of Drake</h2>
								<div class="events__description">The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="events__progress-bar-small progress-bar-small">
				<div class="progress-bar-small__inner" style="width: 50px;"></div>	
			</div>
		</div>
	</div>
</div>
<!-- end events -->