<!-- begin services-page -->
<div class="services-page">
	<div class="services-page__block-img block-img" style="background-image: url(http://via.placeholder.com/1140x210);">
		<div class="block-img__logo">
			<!-- begin logo -->
			<a href="#" class="hero-logo">
				<img src="./img/hero-logo-x2.png" alt="img">
			</a>
			<!-- end logo -->
		</div>
	</div>
	<div class="services-page__services services">
		<div class="services-page__inner inner">
			<h2 class="services__title title-md">Услуги</h2>
			<div class="services__block">
				<div class="services__block row row_mar">
					<div class="col col_pad col-25 col-md-50 col-sm-100">
						<div class="services__item">
							<div class="services__subtitle">Лицензирование</div>
							<div class="services__description">
								<p>
									The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain biking, & plenty of more. The
								</p>
							</div>
						</div>
					</div>
					<div class="col col_pad col-25 col-md-50 col-sm-100">
						<div class="services__item">
							<div class="services__subtitle">Реклама</div>
							<div class="services__description">
								<p>
									The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain biking, & plenty of more. The
								</p>
							</div>
						</div>
					</div>
					<div class="col col_pad col-25 col-md-50 col-sm-100">
						<div class="services__item">
							<div class="services__subtitle">Менеджмент</div>
							<div class="services__description">
								<p>
									The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain biking, & plenty of more. The
								</p>
							</div>
						</div>
					</div>
					<div class="col col_pad col-25 col-md-50 col-sm-100">
						<div class="services__item">
							<div class="services__subtitle">PR</div>
							<div class="services__description">
								<p>
									The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain biking, & plenty of more. The
								</p>
							</div>
						</div>
					</div>
					<div class="col col_pad col-25 col-md-50 col-sm-100">
						<div class="services__item">
							<div class="services__subtitle">Лицензирование</div>
							<div class="services__description">
								<p>
									The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain biking, & plenty of more. The
								</p>
							</div>
						</div>
					</div>
					<div class="col col_pad col-25 col-md-50 col-sm-100">
						<div class="services__item">
							<div class="services__subtitle">Реклама</div>
							<div class="services__description">
								<p>
									The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain biking, & plenty of more. The
								</p>
							</div>
						</div>
					</div>
					<div class="col col_pad col-25 col-md-50 col-sm-100">
						<div class="services__item">
							<div class="services__subtitle">Менеджмент</div>
							<div class="services__description">
								<p>
									The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain biking, & plenty of more. The
								</p>
							</div>
						</div>
					</div>
					<div class="col col_pad col-25 col-md-50 col-sm-100">
						<div class="services__item">
							<div class="services__subtitle">PR</div>
							<div class="services__description">
								<p>
									The majestic Rocky Mountains are a major tourist location in the western United States. Visitors can participate in a quantity of activities, including hiking, skiing, snowboarding, mountain biking, & plenty of more. The
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="services-page__checkout checkout">
		<div class="services-page__inner inner">
			<div class="checkout__group">
				<h2 class="checkout__title-md title-md">Напишите нам</h2>
				<div class="checkout__row">
					<div class="checkout__col col-100">
						<div class="checkout__form-group form-group"> 
							<input type="text" class="checkout__input input" placeholder="Имя">
						</div>
					    <div class="checkout__row">
					       <div class="checkout__col col-50 col-sm-100">
					        	<div class="checkout__form-group form-group">
					         		<input type="text" class="checkout__input input" placeholder="Телефон">
					         	</div>
					       </div>
					       <div class="checkout__col col-50 col-sm-100">
					       		<div class="checkout__form-group form-group">
									<input type="text" class="checkout__input input" placeholder="eMail">
								</div>
					       </div>
					    </div>
				    </div>
				</div>
				<div class="checkout__row">
					<div class="checkout__col col-100 col-sm-100">
			 			<div class="checkout__form-group form-group">
			       			<label for="textarea" class="checkout__label label">Напишите сообщение</label>
							<textarea class="textarea" name="" id="textarea" cols="30" rows="12"></textarea>
						</div>
			       </div>
				</div>
				<div class="form__submit">
					<button class="button-submit">Отправить</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end services-page -->